footer {
  padding: 20px 0;
  @include flex-y-center;
  justify-content: center;
  text-align: center;
  color: #5d5c5c;
  font-size: 14px;

  a {
    color: #5d5c5c;
  }

  .copyright {
    margin-left: 20px;
    margin-right: 20px;
  }
}
