
.single {
  line-height: 2;
  color: #4C4E4D;
  font-size: 16px;

  .single-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Monda', -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;
  }

  pre {
    border-radius: 2px;
    padding: 20px;

    code {
      font-family: "menlo", serif;
      font-size: 14px;
    }
  }

  p {
    margin: 30px 0 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 30px 0 30px;
    font-family: 'Monda', -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  ol, ul {
    padding-left: 30px;
  }
}