<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {{ $options := (dict "targetPath" "less.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/less.scss" | resources.ToCSS $options }}
    <link href="/images/favicon.png" rel="icon" type="image/ico" />
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link
        rel="stylesheet"
        href="//at.alicdn.com/t/font_1995642_5r07rt5x862.css"
    />
    <link
        rel="stylesheet"
        href="https://lib.baomitu.com/tocbot/4.11.2/tocbot.min.css"
    />
    <title>面向自由编程</title>
</head>
