<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $sass := resources.Get "scss/less.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1995642_svj67i6zduq.css">
    <title>常·九</title>
</head>
<body>
<div class="container">
    <div class="nav">
        <figure class="logo">
            <img src="/images/logo.png" alt="">
        </figure>
        <ul class="nav-menu">
            <li>
                <a href="">首页</a>
            </li>
            <li>
                <a href="">系列</a>
            </li>
            <li>
                <a href="">关于</a>
            </li>
        </ul>
        <i class="icon icon-search"></i>
    </div>
</div>