{{ partial "header.html" . }}

<div class="container">
    <div class="row">
        <div class="column is-md-8 is-offset-2 main">
            {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
            {{ range $paginator.Pages }}
            <div class="post">
                <div class="post-left">
                <span class="post-date">
                {{ .Date.Format "01-02" }}
                </span>
                </div>
                <div class="post-right">
                    <a class="post-title" href="{{.Permalink}}">
                        {{.Title}}
                    </a>
                    <div class="post-summary">
                        {{.Summary}}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}